:host {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
    overflow-y: auto;
    max-width: 1595px;
}

@media screen and (min-width: 1595px){
    :host {
        margin: 0 auto;
    }
}
