.aquarium-content {
    width: 100%;
    height: 100%;
    position: relative;
}

.delete-aquarium {
    position: absolute;
    right: 0;
}

.cold {
    background-color: #4D9DE0;
}

.tropical {
    background-color: #74D3AE;
}

.marine {
    background-color: #006992;
}