@use '../../styles/variables';

:host {
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    a {
        text-decoration: none;
    }
}

.aquarium-content {
    display: grid;
    row-gap: 8px;
    color: var(--rich-black);

    &-header {
        height: 150px;
        background-color: var(--lapis-lazuli);
        border-radius: 8px 8px 0 0 ;
    }

    &-body {
        display: grid;
        row-gap: 8px;
        padding: 0 8px 8px;

        &-title {
            font-size: 1.5rem;
        }
    }
}
