<span *ngIf="loading()">Loading...</span>

<article class="aquarium" *ngIf="aquarium() as aquarium">
    <div class="aquarium-title">
        <h1>{{aquarium?.name}}</h1>
    </div>
    <div class="aquarium-content">
        <app-statistic-tile [statName]="'High Temperature'" [statValue]="aquarium.highTemp">           
        </app-statistic-tile>
        <app-statistic-tile [statName]="'Low Temperature'" [statValue]="aquarium.lowTemp">           
        </app-statistic-tile>
        <app-statistic-tile [statName]="'pH'" [statValue]="aquarium.ph">           
        </app-statistic-tile>
        <app-statistic-tile [statName]="'Ammonia'" [statValue]="aquarium.ammonia">           
        </app-statistic-tile>
        <app-statistic-tile [statName]="'Nitrite'" [statValue]="aquarium.nitrite">           
        </app-statistic-tile>
        <app-statistic-tile [statName]="'Nitrate'" [statValue]="aquarium.nitrate">           
        </app-statistic-tile>
    </div>
</article>
